---
layout: default
---

<div class="home">
  <h2>About</h2>
  <p>{{ site.description }}</p>

  <h2>Recent Posts</h2>
  {% if site.posts.size > 0 %} {% for post in site.posts limit: 10 %}
  <div class="post-preview">
    <h3 class="post-title">{{ post.title }}</h3>
    <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
    <p class="post-excerpt">
      {% if post.excerpt %} {{ post.excerpt | strip_html | truncatewords: 50 }}
      {% else %} {{ post.content | strip_html | truncatewords: 50 }} {% endif %}
    </p>
    <p>
      <a href="{{ post.url | relative_url }}"
        >Read more <i class="fas fa-arrow-right"></i
      ></a>
    </p>
    <hr />
  </div>
  {% endfor %} {% else %}
  <p>Check back soon...</p>
  {% endif %}

  <h2>Contact</h2>
  <p>
    <a href="https://www.linkedin.com/in/michael-bertrand-pickfield-3b6a22108/">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <br />
    <a href="mailto:mike@pickfield.ca">
      <i class="fas fa-envelope"></i> mike@pickfield.ca
    </a>
  </p>
</div>
