---
---

@import "{{ site.theme }}";

.post-date {
  font-style: italic;
  font-size: 11px;
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
}
footer {
  .credits {
    font-size: 11px;
    font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: normal;
    color: #696969;
    margin-top: -10px;

    span.credits.left {
      float: left;
    }

    span.credits.right {
      float: right;
    }
  }
}

// Post layout styles
#header.post-header {
  padding: 10px 0;
  min-height: auto;

  nav ul {
    margin: 0;
    padding: 0;
  }

  .home-link {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      padding: 5px 10px;
      display: inline-block;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.post-title-section {
  margin-bottom: 30px;

  .back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #ffcc00;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: #ffeb9b;
      text-decoration: underline;
    }

    i {
      margin-right: 5px;
    }
  }

  .post-title {
    margin: 0 0 10px 0;
    font-size: 2em;
    font-weight: bold;
  }

  .post-date-subtitle {
    color: #696969;
    font-size: 16px;
    margin: 0 0 20px 0;
    font-style: italic;
  }
}

.post-content {
  line-height: 1.6;
  font-size: 16px;

  p {
    margin-bottom: 1em;
  }
}

figure {
  padding-bottom: 10px;
  .image-caption {
    font-style: italic;
    font-size: 0.875em;
    color: #999;
    font-weight: 300;
    margin-top: 0.5em;
    text-align: center;
  }
}

@media print, screen and (max-width: 720px) {
  footer {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      span.credits.left {
        float: none;
        display: block;
      }

      span.credits.right {
        float: none;
        display: block;
      }
    }
  }

  .post-title-section {
    .post-title {
      font-size: 1.5em;
    }

    .back-link {
      font-size: 12px;
    }
  }
}
