---
---

@import "{{ site.theme }}";

// Variables
$link-color: #ffcc00;
$link-hover-color: #ffeb9b;
$text-gray: #696969;
$text-light-gray: #999;
$font-family-base: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial,
  sans-serif;

.post-date {
  font-style: italic;
  font-size: 11px;
  font-family: $font-family-base;
  font-weight: normal;
  color: $text-gray;
}

footer {
  .credits {
    font-size: 11px;
    font-family: $font-family-base;
    font-weight: normal;
    color: $text-gray;
    margin-top: -10px;

    span.credits.left {
      float: left;
    }

    span.credits.right {
      float: right;
    }
  }
}

// Post layout styles
#header {
  nav {
    background: transparent;
  }

  nav ul li a {
    color: $link-color;
    font-weight: 400;
    text-decoration: none;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    display: inline;

    &:hover {
      color: $link-hover-color;
      background: none;
      border: none;
      box-shadow: none;
    }
  }
}

#header.post-header {
  padding: 10px 0;
  min-height: auto;

  nav ul {
    margin: 0;
    padding: 0;
  }

  .home-link {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: $link-color;
      text-decoration: none;
      font-size: 14px;
      padding: 0;
      display: inline-block;
      border: none;
      background: none;
      box-shadow: none;

      &:hover {
        color: $link-hover-color;
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.post-title-section {
  margin-bottom: 30px;

  .back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: $link-color;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }

    i {
      margin-right: 5px;
    }
  }

  .post-title {
    margin: 0 0 10px 0;
    font-size: 2em;
    font-weight: bold;
  }

  .post-date-subtitle {
    color: $text-gray;
    font-size: 16px;
    margin: 0 0 20px 0;
    font-style: italic;
  }
}

.post-content {
  line-height: 1.6;
  font-size: 16px;

  p {
    margin-bottom: 1em;
  }
}

figure {
  padding-bottom: 10px;
  .image-caption {
    font-style: italic;
    font-size: 0.875em;
    color: $text-light-gray;
    font-weight: 300;
    margin-top: 0.5em;
    text-align: center;
  }
}

@media print, screen and (max-width: 720px) {
  footer {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      span.credits.left {
        float: none;
        display: block;
      }

      span.credits.right {
        float: none;
        display: block;
      }
    }
  }

  .post-title-section {
    .post-title {
      font-size: 1.5em;
    }

    .back-link {
      font-size: 12px;
    }
  }
}
