---
---

@import "{{ site.theme }}";

footer {
  .credits {
    font-size: 11px;
    font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: normal;
    color: #696969;
    margin-top: -10px;

    span.credits.left {
      float: left;
    }

    span.credits.right {
      float: right;
    }
  }
}

@media print, screen and (max-width: 720px) {
  footer {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      span.credits.left {
        float: none;
        display: block;
      }

      span.credits.right {
        float: none;
        display: block;
      }
    }
  }
}
