<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% seo %}
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    ></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}" />
    <![endif]-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    {% include head-custom.html %}
  </head>

  <body>
    <div id="header"></div>
    <!-- end header -->

    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>
            {{ site.tagline | default: site.description | default:
            site.github.project_tagline }}
          </p>
          <hr />
        </div>
        {{ content }}
      </section>
    </div>

    <footer class="wrapper">
      <div class="credits">
        <span class="credits left">
          <a
            href="{{ site.github.owner_url | default: 'https://github.com/mpickfield' }}"
          >
            <i class="fas fa-pencil-alt"></i>
            {{ site.github.owner_name | default: "Michael Pickfield"}}
          </a>
        </span>
        <span class="credits right"
          >Hosted on GitHub Pages; theme by
          <a href="https://twitter.com/mattgraham">mattgraham</a></span
        >
      </div>
    </footer>
  </body>
</html>
